@import "fonts.css";

*{
	padding: 0;
	margin: 0;
}

body{
	font:300 14px FrutigerLT;
}

p,h1,ul,strong{
	font-family: PTSans;
}

h1{
	color: #432171;
	font: 28px FrutigerLT;
	text-align: center;
}

.clear{
	clear: both;
}

.wrapper{
	width: 1024px;
	margin:0 auto;
}

.menu{
	height: 71px;
	background-image: url("../images/bottom_menu.png");
	background-size: 100% 100%;
}

.home{
	background: #f7f7f7;
	width: 88px;
	height: 52px;
	float: left;
}

.home img{
	margin: 5px auto 0 auto;
	display: block;
}

.menu ul{
	float: left;
	overflow: hidden;
}

.menu ul li{
	float: left;
	padding: 14px 55px;
	border-left: 1px solid #c1c1c1;
}

.menu ul li a{
	font: 15px FrutigerLTStd-BoldCn;
	color: #676767;
	text-decoration: none;
}

.menu ul li:last-child{
}

.menu-bottom{
	background-image: url("../images/bottom_menu.png");
	background-size: 100% 100%;
	width: 100%;
	height: 42px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 0;
}

.content{
	width: 1024px;
	background: url("../images/background-site.png");
	background-size: 100%;
}

.slider{
	width: 880px;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
}

.graph{
	position: relative;
	width: 880px;
	height: 700px;
	overflow: hidden;
}

.display{
	width: 880px;
	height: 2100px;
	-webkit-translate:translateY('0px');
	transition:all 1s ease-in-out;
}

.graph h1{
	margin: 14px auto 48px auto;
}

.graph-content{
	height: 350px;
	position: relative;
	width: 583px;
	margin: 0 auto;
	background: #fff;
	border-radius: 0 30px 0 30px;
	border: 2px solid #4a2278;
	display: -webkit-box;
}

.vertical-line{
	height: 258px;
	width: 4px;
	margin: 51px 10px 0 40px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	list-style: none;
}

.vertical-line li{
	position: relative;
	font: 14px FrutigerLTStd-Bold;
}

.vertical-line li:before{
	content: "";
	position: absolute;
	left: 12px;
	top: 9px;
	height: 1px;
	width: 10px;
	background-color: #1d1d1b;
}

.vertical-line li:last-child:before{
	content: "";
	width: 0;
}

.horizontal-line{
	width: 500px;
	height: 300px;
}

.graph-main{
	width: 525px;
	height: 264px;
	margin: 35px 0 0 0;
	border-bottom: 3px solid #4a2278;
	position: relative;
}

.bar{
	width: 140px;
	height: 200px;
	background: #1785a3;
	margin: 0 0 0 0px;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 0px;
	left: 85px;
	padding: 5px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin:left bottom;
	transition:transform 1s linear;
}

.bar.two{
	bottom: 0;
	left: 225px;
	background:#e3007c;
	height: 150px;
}

.bar p{
	color:#fff;
	text-align: center;
	opacity: 0;
	transition:opacity 1s linear;
	font: 12px FrutigerLTStd-Bold;
}

.animate .graph-main .bar{
	-webkit-transform:scaleY(1);
	transition-delay:1s;
}
.animate .graph-main .bar p{
	opacity: 1;
	transition-delay:2s;
}

.percent-calculation{
	text-align: center;
	color: #000;
	margin-top: 0px;
	font: 14px FrutigerLTStd-Bold;
}

.patients{
	position: absolute;
	top: 180px;
	left: 48px;
	font: 14px FrutigerLTStd-BlackCn;
}

.patients sup{
	font-size: 60%;
}

.background-grey{
	background: #dad9da;
	height: 100%;
	width: 53px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 0 30px;
}

.bottom-text{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	width: 272px;
	position: absolute;
	bottom: -28px;
	left: -5px;
}

.bottom-text p, .bottom-text strong{
	font: 14px FrutigerLTStd-Bold;
}

p.bottom-bar-text{
	font: 12px frutiger_lt_std_black;
}

.man{
	width: 89px;
	height: 89px;
	margin: 260px 0 0 19px;
}

.footer-text{
	font: 12px FrutigerLTLight;
	color: #000;
	margin: 10px auto 0 auto;
	padding-bottom: 72px;
	width: 865px;
}

.patientReported{
	position: relative;
	width: 880px;
	height: 700px;
	overflow: hidden;
}

.patientReported h1{
	color: #432171;
	font-size: 27px;
	width: 770px;
	text-align: center;
	margin: 14px auto 30px auto;
}

.block-container{
	width: 820px;
	margin: 0 auto;
	height: 400px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	background: #fff;
	display: -webkit-box;
}

.arrow{
	width: 16px;
	height: 192px;
	background: linear-gradient(to top, #1785a3, #ff0090);
	margin: 98px 0 0 80px;
	position: relative;
}

.arrow:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top: 26px solid #1785a3;
	top:100%;
	left: -10px;
}

.arrow:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom: 26px solid #ff0090;
	bottom:100%;
	left: -10px;
}

.arrow strong{
	position: absolute;
	top: -47px;
	left: -48px;
	width: 134px;
	font: 14px FrutigerLTStd-Black;
}

.arrow .secont-higer{
	top: 222px;
	left: -45px;
}

.tool{
	position: relative;
	width: 138px;
	height: 246px;
	background: url("../images/tool.png");
	background-size: contain;
	margin: 78px 0 0 262px;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:end;

}

.lever{
	position: absolute;
	background: #5b2c81 -webkit-radial-gradient(129px -64px, circle cover, rgba(255, 255, 255, 0.5), #5b2c81);
	width: 255px;
	height: 8px;
	bottom: 100%;
	left: -60px;
	transition:all 1s linear;
}

.lever.left-rotate{
	 -webkit-transform:rotateZ(-10deg);
 }
.lever.right-rotate{
	-webkit-transform:rotateZ(10deg);
}

.balance{
	position: absolute;
	width: 129px;
	height: 185px;
	background: url("../images/left-balance.png");
	background-size: contain;
	left: -97px;
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.balance p{
	margin-top: 128px;
	color: #fff;
	font: 20px FrutigerLTStd-Black;
}

.right{
	width: 129px;
	height: 185px;
	background: url("../images/right-balance.png");
	background-size: contain;
	left: 102px;
	transition:all 1s linear;
}
.left{
	transition:all 1s linear;
}

.left-balanse-left-translate{
	-webkit-transform:translateY(17px);
}
.left-balanse-right-translate{
	-webkit-transform:translateY(-17px);
}

.right-balanse-left-translate{
	-webkit-transform:translateY(-17px);
}
.right-balanse-right-translate{
	-webkit-transform:translateY(17px);
}

.fault{
	color: #fff;
	margin: 0 0 4px 35px;
	font: 14px FrutigerLTStd-Black;
}

.global-satisfaction{
	position: absolute;
	bottom: -22px;
	left: 4px;
	color: #5b2c81;
	font: 12px FrutigerLTStd-Black;
	width: 148px;
}

.legend{
	margin: 24px 0 0 130px;
	position: relative;
}

.g-legend{
	font: 14px/1.8 FrutigerLTStd-Black;
}

.g-legend:before{
	content: "";
	width: 18px;
	height: 18px;
	background: #ff0090;
	position: absolute;
	left: -22px;
	top: 3px;
}

.second-legend:before{
	top: 29px;
	background: #1685a2;
}

.bottom-description{
	position: absolute;
	bottom: 135px;
	right: 30px;
	width: 145px;
	height: 83px;
	background: #fff;
	text-align: center;
	color: #4a2278;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.bottom-description p{
	font: 18px FrutigerLTBold;
	padding-top: 14px;
}

.bottom-description span{
	font-size: 12px;
}

.calculation{
	position: relative;
	width: 880px;
	height: 700px;
}

.calculation h1{
	margin: 0 0 35px 0;
}

.form{
	width: 420px;
}

.header-calculation{
	height: 50px;
	width: 418px;
	background: -webkit-linear-gradient(bottom, #9c9c9d, #fdfeff);
	border: 1px solid #9c9b9c;
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.calculate{
	width: 100px;
	height: 31px;
	background: -webkit-linear-gradient(bottom, #e31e86, #ddd0e3);
	border: 1px solid #e31e86;
	font: 300 12px FrutigerLT;
	color: #fff;
	margin: 0 0 2px 10px;
	display: block;
}

.header-calculation input{
	height: 32px;
	width: 234px;
}

.header-calculation input::-webkit-input-placeholder{
	font: 300 12px FrutigerLTStd-BoldCn;
	text-align: center;
	color: rgb(172, 171, 171);
}

.question{
	margin: 11px 0px 8px 25px;
	width: 29px;
	height: 29px;
	display: block;
}

.calculate-main{
	margin-bottom: 5px;
}

.main-description p{
	font: 300 11px FrutigerLTLight;
	width: 394px;
	margin: 0 auto;
}

.main-description{
	padding: 3px 0;
	background: -webkit-linear-gradient(bottom, #fefefe, #e8e9e8);
}

.main-description span{
	color: #E32385;
	font-family:  FrutigerLTStd-BlackCn;
}
.main-description p strong{
	color: #7B7A7A;
	font-family: FrutigerLTStd-BlackCn;
}

.caption-calc{
	background: #b6b5b5;
	padding:7px 8px;
	display: -webkit-box;
	-webkit-box-pack:justify;
}
.caption-calc p{
	font: 300 18px FrutigerLTBlackCondensed;
	color: #fff;
}

.caption-calc output{
	width: 80px;
	height: 25px;
	background: #fff;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	font: 300 17px frutiger_lt_std_black;
	color: #E32385;
	overflow: hidden;
}

.description-calc p{
	font: 300 10px/1.5 FrutigerLTBlackCondensed;
	color: #fff;
	margin: 2px 0 0 8px;
}

.plus{
	width: 25px;
	height: 25px;
	background: #f0f0f0;
	box-shadow: inset 0 0 5px rgba(217, 217, 217, 0.8);
	border-radius: 50%;
	border: 1px solid #9f9e9f;
	position: relative;
}

.plus:after{
	content: "";
	position: absolute;
	width: 14px;
	height: 3px;
	left: 6px;
	top: 11px;
	background: #7c7a7b;
}
.plus:before{
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	background: #7c7a7b;
	-webkit-transform:rotateZ(90deg);
	left: 7px;
	top: 11px;
}

.description-calc{
	background: -webkit-linear-gradient(bottom, #C1C0C0, #e0e0df);
	display: -webkit-box;
	-webkit-box-align: center;
	padding: 10px;
}

.first-form{
	float: left;
}
.last-form{
	float: right;
}

.footer-caption{
	padding:8px;
	background: #502d80;
	font: 14px FrutigerLT;
	color: #fff;
}

.list-item{
	display: -webkit-box;
	-webkit-box-pack:justify;
}

.list-item p{
	font: 11px FrutigerLT;
	color: #7B7A7A;
	padding: 8px;
}

.list-item span{
	font-size: 12px;
	color: #E32385;
}

.bottom-scrolling{
	width: 1024px;
	height: 24px;
	background: url("../images/bottom-scroll.png");
	background-size: contain;
}