@import "fonts.css";

*{
	padding: 0;
	margin: 0;
}

body{
	font: 300 14px FrutigerLT;
}

h1{
	color: #432171;
	font: 28px FrutigerLT;
	text-align: center;
}

h1 sup{
	font-size: 60%;
}

.clear{
	clear: both;
}

.wrapper{
	width: 1024px;
	margin: 0 auto;
}

.menu{
	height: 71px;
	background-image: url("../images/bottom_menu.png");
	background-size: 100% 100%;
}

.home{
	background: #f7f7f7;
	width: 57px;
	height: 52px;
	float: left;
}

.home img{
	margin: 14px auto 0 auto;
	display: block;
	width: 22px;
}

.menu ul{
	float: left;
	overflow: hidden;
}

.menu ul li{
	float: left;
	border-left: 1px solid #c1c1c1;
}

.menu ul li a{
	font: 15px FrutigerLTStd-BoldCn;
	color: #676767;
	text-decoration: none;
	padding: 16px 61px;
	display: block;
}

.menu ul li a:active{
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.menu-bottom{
	background-image: url("../images/bottom_menu.png");
	background-size: 100% 100%;
	width: 100%;
	height: 42px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 0;
}

.content{
	width: 1024px;
	background: url("../images/background-site.png");
	background-size: 100%;
}

.slider{
	width: 950px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
}

.graph{
	position: relative;
	width: 880px;
	height: 600px;
	overflow: hidden;
}

.display{
	width: 950px;
	height: 1800px;
	-webkit-translate: translateY('0px');
	transition: all 1s ease-in-out;
}

.graph h1{
	margin: 14px auto 92px 68px;
	word-spacing: -2px;
}

.graph-content{
	height: 356px;
	position: relative;
	width: 594px;
	border-radius: 0 35px 0 30px;
	border: 2px solid #4a2278;
	display: -webkit-box;
	margin-left: 175px;
	background: #fff;
}

.vertical-line{
	height: 288px;
	width: 4px;
	margin: 28px 10px 0 37px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	list-style: none;
}

.vertical-line li{
	position: relative;
	font: 14px FrutigerLTStd-Bold;
}

.vertical-line li:before{
	content: "";
	position: absolute;
	left: 12px;
	top: 9px;
	height: 1px;
	width: 10px;
	background-color: #1d1d1b;
}

.vertical-line li:last-child:before{
	width: 0;
}

.horizontal-line{
	width: 500px;
	height: 300px;
}

.graph-main{
	width: 545px;
	height: 289px;
	margin-top: 21px;
	border-bottom: 3px solid #4a2278;
	position: relative;
}

.bar{
	width: 135px;
	height: 234px;
	background: #1785a3;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 0px;
	left: 138px;
	padding: 7px 0 2px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: left bottom;
	transition: transform 1s linear;
}

.bar.two{
	bottom: 0;
	left: 273px;
	background: #e3007c;
	height: 166px;
}

.bar p{
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: opacity 1s linear;
	font: 14px FrutigerLTStd-Bold;
}

.animate .graph-main .bar{
	-webkit-transform: scaleY(1);
	transition-delay: 1s;
}

.animate .graph-main .bar p{
	opacity: 1;
	transition-delay: 2s;
}

.percent-calculation{
	text-align: center;
	color: #000;
	font: 14px FrutigerLTStd-Bold;
}

.patients{
	position: absolute;
	top: 234px;
	left: 89px;
	font: 15px FrutigerLTStd-BlackCn;
}

.patients sup{
	font-size: 60%;
}

.background-grey{
	background: #dad9da;
	height: 100%;
	width: 52px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 0 30px;
}

.bottom-text{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	width: 300px;
	position: absolute;
	bottom: -31px;
	left: -5px;
	height: 24px;
}

.bottom-text p, .bottom-text strong{
	font: 14px FrutigerLTStd-Bold;
}
.bottom-text strong{
	display: block;
	margin-top: 9px;
}

p.bottom-bar-text{
	font: 12px frutiger_lt_std_black;
}

.man{
	width: 89px;
	height: 97px;
	margin: 261px 0 0 11px;
}

.footer-text{
	font: 12px FrutigerLTLight;
	color: #000;
	margin: 25px 0 4px 107px;
	padding-bottom: 12px;
	height: 55px;
}

.patientReported{
	position: relative;
	width: 950;
	height: 600px;
	overflow: hidden;
}

.patientReported h1{
	color: #432171;
	font-size: 28px;
	width: 820px;
	text-align: center;
	margin: 15px 0 54px 57px;
	word-spacing: 7px;
}

.block-container{
	width: 895px;
	margin: 0 auto;
	height: 390px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	background: #fff;
	display: -webkit-box;
}

.arrow{
	width: 12px;
	height: 204px;
	background: linear-gradient(to top, #1785a3, #ff0090);
	margin: 81px 0 0 100px;
	position: relative;
}

.arrow:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top: 26px solid #1785a3;
	top: 100%;
	left: -10px;
}

.arrow:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-bottom: 26px solid #ff0090;
	bottom: 100%;
	left: -10px;
}

.arrow strong{
	position: absolute;
	top: -53px;
	left: -55px;
	width: 134px;
	font: 14px FrutigerLTStd-Black;
}

.arrow .secont-higer{
	top: 240px;
	left: -55px;
}

.tool{
	position: relative;
	width: 147px;
	height: 264px;
	background: url("../images/tool.png");
	background-size: 100% 100%;
	margin: 73px 0 0 251px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: end;

}

.lever{
	position: absolute;
	background: #5b2c81 -webkit-radial-gradient(129px -64px, circle cover, rgba(255, 255, 255, 0.5), #5b2c81);
	width: 278px;
	height: 9px;
	bottom: 100%;
	left: -68px;
	transition: all 1s linear;
}

.lever.left-rotate{
	-webkit-transform: rotateZ(-4deg);
}

.lever.right-rotate{
	-webkit-transform: rotateZ(4deg);
}

.balance{
	position: absolute;
	width: 144px;
	height: 212px;
	background: url("../images/left-balance.png");
	background-size: 100% 100%;
	left: -108px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.balance p{
	margin-top: 142px;
	color: #fff;
	font: 22px FrutigerLTStd-Black;
}

.right{
	width: 151px;
	height: 212px;
	background: url("../images/right-balance.png");
	background-size: 100% 100%;
	left: 102px;
	transition: all 1s linear;
}

.left{
	transition: all 1s linear;
}

.left-balance-left-translate{
	-webkit-transform: translateY(7px);
}

.left-balance-right-translate{
	-webkit-transform: translateY(-7px);
}

.right-balance-left-translate{
	-webkit-transform: translateY(-7px);
}

.right-balance-right-translate{
	-webkit-transform: translateY(7px);
}

.fault{
	color: #fff;
	margin: 0 0 7px 42px;
	font: 14px FrutigerLTStd-Black;
}

.global-satisfaction{
	position: absolute;
	bottom: -26px;
	left: 7px;
	color: #5b2c81;
	font: 13px FrutigerLTStd-Black;
	width: 148px;
}

.legend{
	margin: 27px 0 0 167px;
	position: relative;
}

.g-legend{
	font: 14px/1.9 FrutigerLTStd-Black;
}

.g-legend:before{
	content: "";
	width: 20px;
	height: 20px;
	background: #ff0090;
	position: absolute;
	left: -23px;
	top: 2px;
}

.second-legend:before{
	top: 31px;
	background: #1685a2;
}

.bottom-description{
	position: absolute;
	bottom: 9px;
	right: 27px;
	width: 149px;
	height: 99px;
	background: #fff;
	text-align: center;
	color: #4a2278;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.bottom-description p{
	font: 18px FrutigerLTStd-Black;
	padding-top: 22px;
}

.bottom-description span{
	font: 14px FrutigerLTStd-Black;
}

.calculation{
	position: relative;
	width: 880px;
	height: 600px;
}

.calculation h1{
	margin: 15px 0 32px 207px;
	word-spacing: -5px;
	text-align: left;
}

.form{
	width: 375px;
	margin-left: 68px;
}

.header-calculation{
	height: 50px;
	width: 375px;
	background: -webkit-linear-gradient(bottom, #9c9c9d, #fdfeff);
	border: 1px solid #9c9b9c;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.calculate{
	width: 100px;
	height: 31px;
	background: -webkit-linear-gradient(bottom, #e31e86, #ddd0e3);
	border: 1px solid #e31e86;
	font: 300 12px FrutigerLT;
	color: #fff;
	margin: 4px 7px 0px 7px;
	display: block;
}

.header-calculation input{
	height: 32px;
	width: 183px;
}

.header-calculation input::-webkit-input-placeholder{
	font: 300 10px FrutigerLTStd-BoldCn;
	text-align: center;
	color: rgb(172, 171, 171);
}

.question{
	margin: 11px 0 7px 28px;
	width: 29px;
	height: 29px;
	display: block;
}

.calculate-main{
	margin-bottom: 7px;
}

.main-description p{
	font: 300 9px FrutigerLTLight;
	width: 350px;
	margin: 0 auto;
}

.main-description{
	padding: 5px 0;
	background: -webkit-linear-gradient(bottom, #fefefe, #e8e9e8);
}

.main-description span{
	color: #e32385;
	font-family: FrutigerLTStd-BlackCn;
}

.main-description p strong{
	color: #7b7a7a;
	font-family: FrutigerLTStd-BlackCn;
}

.caption-calc{
	background: #b6b5b5;
	padding: 4px 8px;
	display: -webkit-box;
	-webkit-box-pack: justify;
}

.caption-calc p{
	font: 300 16px FrutigerLTBlackCondensed;
	color: #fff;
	padding: 0 0 0 7px;
}

.caption-calc output{
	width: 90px;
	height: 25px;
	background: #fff;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	-webkit-box-pack: end;
	-webkit-box-align: center;
	font: 300 17px frutiger_lt_std_black;
	color: #e32385;
	overflow: hidden;
}

.description-calc p{
	font: 300 9px/1.5 FrutigerLTBlackCondensed;
	color: #fff;
	margin: 2px 0 0 7px;
}

.plus{
	width: 21px;
	height: 21px;
	background: #f0f0f0;
	box-shadow: inset 0 0 5px rgba(217, 217, 217, 0.8);
	border-radius: 50%;
	border: 1px solid #9f9e9f;
	position: relative;
}

.plus:after{
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	left: 5px;
	top: 9px;
	background: #7c7a7b;
}

.plus:before{
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	background: #7c7a7b;
	-webkit-transform: rotateZ(90deg);
	left: 5px;
	top: 9px;
}

.description-calc{
	background: -webkit-linear-gradient(bottom, #c1c0c0, #e0e0df);
	display: -webkit-box;
	-webkit-box-align: center;
	padding: 3px;
}

.first-form{
	float: left;
}

.last-form{
	float: right;
	margin: 0 5px 0 0;
}

.footer-caption{
	padding: 4px 0 5px 12px;
	background: #502d80;
	font: 16px FrutigerLT;
	color: #fff;
}

.list-item{
	display: -webkit-box;
	-webkit-box-pack: justify;
}

.list-item p{
	font: 14px FrutigerLT;
	color: #7b7a7a;
	padding: 7px 11px 12px 12px;
	background: linear-gradient(to bottom, #e8f0f8, #fff);
}

.list-item p sup{
	font-size: 50%;
}

.list-item span{
	font-size: 14px;
	color: #e32385;
	margin-top: 3px;
	display: inline-block;
}

.bottom-scrolling{
	width: 1024px;
	height: 24px;
	background: url("../images/bottom-scroll.png");
	background-size: contain;
}

footer{
	width: 808px;
	margin-left: 67px;
}