@font-face{
	font-family: FrutigerLT;
	src: url(../fonts/Frutiger-LT-75-Black.ttf);
}

@font-face{
	font-family: FrutigerLTBold;
	src: url(../fonts/Frutiger-LT-65-Bold.ttf);
}

@font-face{
	font-family: FrutigerLTStd-Bold;
	src: url(../fonts/FrutigerLTStd-Bold.otf);
}

@font-face{
	font-family: FrutigerLTStd-BoldCn;
	src: url(../fonts/FrutigerLTStd-BoldCn.otf);
}

@font-face{
	font-family: FrutigerLTLight;
	src: url(../fonts/FrutigerLT45Light.ttf);
}

@font-face{
	font-family: FrutigerLTStd-BlackCn;
	src: url(../fonts/FrutigerLTStd-BlackCn.otf);
}

@font-face{
	font-family: FrutigerLTStd-Black;
	src: url(../fonts/FrutigerLTStd-Black.otf);
}

@font-face{
	font-family: frutiger_lt_std_black;
	src: url(../fonts/frutiger_lt_std_black.otf);
}

@font-face{
	font-family: FrutigerLTBlackCondensed;
	src: url(../fonts/FrutigerLT87ExtraBlackCondensed.ttf);
}

@font-face{
	font-family: FrutigerLTStd-BoldCn;
	src: url(../fonts/FrutigerLTStd-BoldCn.otf);
}
