@font-face {
	font-family: PTSans;
	src: url(../fonts/PTSans.ttf);
}

@font-face {
	font-family: FrutigerLT;
	src: url(../fonts/Frutiger-LT-75-Black.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: FrutigerLTBold;
	src: url(../fonts/Frutiger-LT-65-Bold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: FrutigerLTLight;
	src: url(../fonts/FrutigerLT45Light.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: FrutigerLTStd-BlackCn;
	src: url(../fonts/FrutigerLTStd-BlackCn.otf);
	font-weight: 600;
	font-style: normal;
}